<!doctype html>
<!-- Machine-generated translation / 机器翻译 -->
<html>
<head>
<meta charset="utf-8">
<title>Detrackify Guard</title>
<link rel="stylesheet" href="/guard/common.css">
<script>
window.guardOptions = {resolve: {{ 'true' if resolve else 'false' }}, sha: "{{ sha }}", data: "{{ data }}", timeout_ms: {{ timeout_ms }}};
</script>
<script src="/guard/common.js"></script>
</head>
<body>
<div style="font-size:24px;font-weight:bold">
  <a href="https://github.com/mrworf/detrackify-email" class="noselect">Detrackify</a>
</div>
{% if valid %}
<p>您点击的链接显示为“{{ display }}”，来自 {{ domain }}，但将前往以下页面：</p>
<p class="noselect"><span id="url">{{ url|safe }}</span>{% if resolve %} <span id="progress">正在解析最终地址，请稍候...</span>{% endif %}</p>
{% if resolve %}<div id="error" style="color:red;margin-top:10px"></div>{% endif %}
{% else %}
<p>提供的链接无效。</p>
{% endif %}
{% if valid %}
<form method="post" action="{% if resolve %}/guard/go{% endif %}" autocomplete="off" id="continueForm">
  <input type="hidden" name="ts" value="{{ ts }}">
  {% if resolve %}<input type="hidden" name="url" id="final"><input type="hidden" name="sha" id="hash">{% endif %}
  <button id="cont" disabled>是的，我理解并继续</button>
</form>
{% endif %}
</body>
</html>
