<!doctype html>
<!-- Machine-generated translation / Automatische Übersetzung -->
<html>
<head>
<meta charset="utf-8">
<title>Detrackify Guard</title>
<link rel="stylesheet" href="/guard/common.css">
<script src="/guard/common.js"></script>
</head>
<body data-resolve="{{ 'true' if resolve else 'false' }}" data-sha="{{ sha }}" data-data="{{ data }}" data-timeout="{{ timeout_ms }}" data-sender-domain="{{ sender_domain }}">
<div style="font-size:24px;font-weight:bold">
  <a href="https://github.com/mrworf/detrackify-email" class="noselect">Detrackify</a>
</div>
{% if valid %}
<p>Der Link, den Sie angeklickt haben, zeigte '{{ display }}' und kam von {{ domain }} und führt zu folgender Seite:</p>
<p class="noselect"><span id="url">{{ url }}</span></p>
{% if resolve %}
<p class="noselect" id="progress">Endziel wird ermittelt, bitte warten...</p>
<div id="error" style="color:red;margin-top:10px"></div>
{% endif %}
{% else %}
<p>Ungültiger Link angegeben.</p>
{% endif %}
{% if valid %}
<form method="post" action="{% if resolve %}/guard/go{% endif %}" autocomplete="off" id="continueForm">
  <input type="hidden" name="ts" value="{{ ts }}">
  {% if resolve %}<input type="hidden" name="url" id="final"><input type="hidden" name="sha" id="hash">{% endif %}
  <button id="cont" disabled>Ja, ich verstehe und möchte fortfahren</button>
</form>
{% endif %}
</body>
</html>
